footer {
    height: 60px;
    width: 100%;
    border-top:1px #CCCCCC;
    background-color: white;
    margin-top: auto;
    text-align: center;
    
}

.endfoot {
    padding-top: 10px;
    text-align: center;
}